$color-primary: #12143a;
$color-secondary: #f0b254;
$color-black: #12143a;
$color-white: #fff;
$color-dark-gray: #1f1f1f;
$color-light-gray: #f2f2f2;
$color-mid-gray: #606060;

// $color-secondary: #8F682E;

// @font-face {
//     font-family: 'DejavuSans';
//     src: url('dejavu-sans.book.ttf');
//     font-display: swap;
// }
@font-face {
  font-family: "AvenirBlack";
  src: url("AvenirLTStd-Black.otf");
  font-display: swap;
}
@font-face {
  font-family: "AvenirBook";
  src: url("AvenirLTStd-Book.otf");
  font-display: swap;
}
@font-face {
  font-family: "AvenirRoman";
  src: url("AvenirLTStd-Roman.otf");
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("OpenSans_Condensed-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src: url("Oswald-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("Helvetica-Neue.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "RB Magnat Neue";
  src: url("RB-Magnat-Neue-Test.woff2") format("woff2");
  font-display: swap;
}

$font-family: -apple-system, BlinkMacSystemFont, "Open Sans", "Oswald","RB Magnat Neue", Arial, "HelveticaNeue", "Apple Color Emoji", "Segoe UI Emoji";
$font-weight-normal: 300;
$font-weight-bold: 600;

$content-width: 1200px;
$content-width-extended: 1400px;

$breakpoint-small: 600px;
$breakpoint-medium: 1000px;
